<!-- Portfolio Grid Section -->
    <section id="portfolio" class="bg-light-grey">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Packages</h2>
                    <p class="text-left">Planning a wedding is incredibly exciting, but it can also be very stressful. On the surface, many brides and grooms try to hide the pressure and anxiety they’re feeling, and might even feel ashamed that they’re struggling to cope with stress during a period that should be the “happiest time of their life”.
                        But the truth is that every aspect of putting together an event as big as a wedding is a mammoth task in itself. It’s only natural that between worrying about your budget and how to make everyone happy, your mental health can fall down your list of priorities.
                        So let’s help you unwind, relax and collaboratively work through the worries while allowing you to experience a range of luxury treatments of your choosing.
                    <br><br>
                    <p class="text-left">Each session is 70 minutes.</p>
                    <br><br>
                    </p>
                </div>
            </div>
            <div class="row">
            {% for post in site.posts %}
                <div class="col-md-12 col-sm-12 portfolio-item">
                    <a href="#portfolioModal{{ post.modal-id }}" class="portfolio-link" data-toggle="modal">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="fa fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="img/portfolio/{{ post.thumbnail }}" class="img-responsive img-centered" alt="">
                    </a>
                    <div class="portfolio-caption">
                        <h4>{{ post.title }}</h4>
                        <p class="text-muted">{{ post.subtitle }}</p>
                        <p>{{ post.cost }}</p>
                        <br><br>
                    </div>
                </div>
            {% endfor %}
            </div>
        </div>
    </section>
