<!-- Services Section -->
    <section id="services" class="bg-light-pink">
        <div class="container">
            <div class="row">
                <h2 class="section-heading text-center">Welcome to Sweet Talking Serenity</h2>
                <div class="row">
                    <div class="col-md-12 text-center">
                        <h3 class="section-subheading">
                            Sweet Talking Serenity is a unique luxury therapy that specialises in helping the modern day bride or groom to manage the stresses of planning their wedding.
                            <br><br>The unique luxury intervention of sweet talking serenity involves interventions from cognitive behavioural psychotherapy interventions,
                            short term individual goal setting with luxury treatment interventions to help ensure YOU have time out to talk about any wedding worries while being pampered.
                            <br><br>After planning my own wedding in 2009,  my sisters in 2017, and talking with friends and family.
                            It was noted that planning a wedding is built up to the best day off your life, but the build up can be extremely stressful for any individuals involved,
                            the decisions you have to make, unrealistic expectations, intense emotions displayed at times, while people keep letting you not to worry as you should be the most joyous  time. 
                            <br><br>This is where, Sweet Talking Serenity was born from acknowledging the stress of wedding planning which can distract you from enjoying the full happiness of the built up to your big day.
                            Acknowledging that planning a wedding is stressful, so let’s talk through it whilst letting your mind and body become as one, relax calm and ready to face the next challenge weddings bring. </h3>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3 text-center aside-image-container display-desktop">
                        <img class="aside-image" src="img/flowers1.jpg" width="50%" />
                    </div>
                    <div class="col-md-8 text-center service-divider service-padding">
                        <h4 class="service-heading">Consultation</h4>
                        <p class="text-muted text-left service-heading-pad-bottom">
                            At the start of your therapy, you will be able to relax and discuss the agenda of the session while you sit
                            back and experience a luxury unique mesmerising massage that will stimulate your senses.
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="text-center col-md-3">
                    </div>
                    <div class="text-center col-md-8">
                        <span class="fa-2x">
                            <!-- <i class="fa fa-circle fa-stack-2x text-heart"></i> -->
                            <i class="fa fa-heart gradient"></i>
                            <i class="fa fa-heart gradient"></i>
                            <i class="fa fa-heart gradient"></i>
                        </span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3 text-center display-desktop">
                            <img class="aside-image" src="img/flowers2.jpg" width="50%" />
                    </div>
                    <div class="col-md-8 text-center service-padding">
                        <h4 class="service-heading">Therapy</h4>
                        <p class="text-muted text-left service-heading-pad-bottom">
                            We will focus on the specific difficulties you are facing, overcoming internal and external barriers to your big day whilst you unwind with a relaxing unique treatment tailor made that aims to rebalance your bodies energies. While this is going on we will be using evidence based cognitive behavioural therapy techniques to explore the stressors that can occur leading to your magical day. 
                            Everybody is unique and sweet talking serenity is a luxury intervention to ensure you have the space you deserve to truly unwind and appreciate the milestone ahead of you.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>