<!-- Team Section -->
    <section id="team" class="bg-light-pink">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">About Carly</h2>
                    <h3 class="section-subheading text-muted">&lsquo;Every love story is unique and beautiful, sweet talking serenity helps give you, your much deserved fairytale ending.&rsquo; </h3>
                </div>
            </div>
            <div class="row">
                {% for member in site.people %}
                <div class="col-sm-12">
                    <div class="team-member">
                        <img src="img/team/{{ member.pic }}.jpg" class="img-responsive img-circle" alt="">
                        <h4>{{ member.name }}</h4>
                        <p class="text-muted">{{ member.position }}</p>
                        <ul class="list-inline social-buttons">
                            {% for network in member.social %}
                            <li>
                                <a href="{{ network.url }}">
                                    <i class="fa fa-{{ network.title }}"></i>
                                </a>
                            </li>
                            {% endfor %}

                        </ul>
                    </div>
                </div>
                {% endfor %}
            </div>
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <p class="large text-muted"> 
                        Working as a nurse, beauty therapist and CBT therapist, Carly has been enriched by others individuals journeys, their knowledge and wisdom, whilst providing that safe place allowing them to trust, and eventually let go and deal with difficulties which have been hindering their unique kindness.     
                        <br><br>
                        During her career she has been extremely privileged and proud to have worked with individuals who need someone consistent, non-judgmental, to work collaboratively through their difficulty time, whilst providing a light at the end of the tunnel. 
                        <br><br>
                        Therefore Carly’s new venture encapsulates both passions of hers,  talking therapy with beauty style interventions to help enrich that therapy process.</p>
                </div>
            </div>
        </div>
    </section>